@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #333;
	color: #fff;
	font-family: 'Poiret One', cursive;
	font-weight: 600;
}

h2 {
	font-size: 45px;
	margin: 10px;
}
h2 span {
	font-size: 30px;
}
p {
	font-size: 20px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	width: 100vw;
	height: 100vh;
	user-select: none;
}

@media only screen and (max-width: 740px) {
	body {
		overflow-x: hidden;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fit, 1fr);
	}

	.focus::placeholder {
		font-size: 20px;
	}

	.container > div {
		padding-bottom: 5px;
	}
}

.container > div {
	height: auto;
	display: flex;
	flex-direction: column;

	transition: all 0.2s ease-in;
}

.container > div:hover {
	box-shadow: inset 2px -1px 20px 3px black;
}

#weather {
	justify-content: center;
	align-items: center;
	grid-column: span 2;
}

#time {
	justify-content: center;
	align-items: center;
}
#date {
	justify-content: center;
	align-items: center;
}

#focus {
	align-items: center;
	justify-content: center;
	grid-column: span 2;
}
#shopping {
	grid-column: span 2;
	grid-row: span 2;
}
#link {
	justify-content: center;
	align-items: center;
	grid-column: span 2;
}

.bg1 {
	background: url('purple.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.bg2 {
	background: url('flower.jpg');
	color: #333;
	background-size: cover;
	background-attachment: fixed;
}

.clock {
	width: 10rem;
	height: 10rem;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: auto;
	position: relative;
	padding: 1rem;
}
.outer-clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #fefefc;
	-webkit-box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
	-moz-box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
	box-shadow: 0 20px 10px rgba(62, 47, 63, 0.45);
	overflow: hidden;
}

.outer-clock-face::after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background: #333;
	z-index: 0;
	left: 49%;
}
.outer-clock-face .marking {
	background: #333;
	width: 3px;
}
.outer-clock-face .marking.marking-one {
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	transform: rotate(30deg);
}
.outer-clock-face .marking.marking-two {
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}
.outer-clock-face .marking.marking-three {
	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	transform: rotate(120deg);
}
.outer-clock-face .marking.marking-four {
	-webkit-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	transform: rotate(150deg);
}

.inner-clock-face {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background: #fefefc;
	opacity: 1;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	z-index: 1;
}
.inner-clock-face::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 55%;
	width: 10px;
	height: 10px;
	border-radius: 18px;
	margin-left: -9px;
	margin-top: -6px;
	background: #333;
	z-index: 11;
}

.hand {
	width: 50%;
	right: 50%;
	height: 6px;
	background: #333;
	position: absolute;
	top: 50%;
	border-radius: 6px;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
	width: 20%;
	z-index: 3;
}
.hand.min-hand {
	height: 3px;
	z-index: 10;
	width: 35%;
}
.hand.second-hand {
	background: #333;
	width: 40%;
}
